:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --red: rgba(38, 35, 34, 1);
  --red-navbar: rgba(193, 0, 45, 1);
  --vanilla: #f5d4b7;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Background */
.my-bg {
  background-color: rgb(255, 255, 255);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid var(--red);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #c1002d;
}

.nav-container .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  height: 1.6rem;
}

.nav-container .img-container .img-size {
  width: 5rem;
  object-fit: cover;
}

.nav-link-container {
  display: flex;
  margin: 0 2rem;
  align-items: center;
}

.nav-link-container a {
  padding: 1rem 15px;
  font-style: none;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.nav-link-container a:hover {
  background-color: rgba(1, 1, 1, 0.482);
}

.home,
.our-profile,
.vision-mission,
.portfolio,
.message-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

/* Home Section */
.home-container,
.our-profile-container,
.vision-mission-container,
.portfolio-container {
  display: flex;
  flex-direction: column;
  width: 55rem;
  height: 30rem;
  background-color: var(--red-navbar);
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 500;
  margin: 0 2rem;
  color: #fff;
  margin-top: 51.2px;
}

.home-container span {
  color: var(--vanilla);
}

.img-side1 {
  position: absolute;
  width: 28rem;
  left: -12rem;
  top: 12rem;
  rotate: 45deg;
  filter: drop-shadow(30px 10px 4px #1e1d1d);
  filter: brightness(0.87);
}

.img-side2 {
  position: absolute;
  width: 28rem;
  right: -12rem;
  top: 12rem;
  rotate: -45deg;
  filter: drop-shadow(30px 10px 4px #1e1d1d);
  filter: brightness(0.87);
}

/* Our Profile */
.our-profile-container {
  align-items: center;
  height: 33.5rem;
  margin: 0 2rem;
  box-sizing: border-box;
  margin-top: 51.2px;
}

.our-profile-container h1 {
  font-size: 2rem;
}

.our-profile-container p {
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: justify;
}

.img-our-profile-container {
  width: 30rem;
  margin: 1.5rem 0;
  border: 2px solid #fff;
}

/* vision-mission */
.vision-mission-container {
  align-items: center;
  padding: 2rem;
}

.vision-mission-container h1 {
  font-size: 2rem;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}

.content-container .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 40%;
  height: 23rem;
}

.content-container .img-container img {
  width: 20rem;
  filter: drop-shadow(0 0 3px rgb(255, 255, 255));
}

.content-container .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 60%;
  height: 23rem;
  color: #c1002d;
}

.text-container .vision-container {
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.text-container .vision-container h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.text-container .mission-container {
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.text-container .mission-container h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

/* Portfolio */
.portfolio-container {
  align-items: center;
}

.portfolio-container h1 {
  font-size: 2.3rem;
  margin-top: 0.6rem;
}

.portfolio-container .carousel-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  height: 30rem;
}

.carousel-container .carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-item .carousel-item-container {
  overflow: hidden;
  width: 10rem;
  aspect-ratio: 1/1;
  border: 3px solid #fff;
  border-radius: 50%;
  margin: calc(-16px + -36.8px) 1.5rem 0 1.5rem;
}

.carousel-item-container img {
  width: 100%;
  height: 100%;
}

.carousel-item-container .bangkok {
  margin-left: -130px;
  object-position: right;
  object-fit: contain;
  width: auto;
}

.carousel-item-container .japan {
  height: 14rem;
  width: auto;
  object-fit: contain;
  margin-left: -115px;
  margin-top: -25px;
}

.carousel-item p {
  margin-top: 1rem;
}

/* Message-Us */
.message-us {
  position: relative;
}

.message-us-container {
  display: flex;
  flex-direction: column;
  width: 80rem;
  height: 30rem;
  background-color: var(--red-navbar);
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 500;
  margin: 0 2rem;
  color: #fff;
  flex-wrap: wrap;
  justify-content: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  flex: 45%;
  justify-content: center;
  margin-left: 2rem;
  box-sizing: border-box;
}

.table-container h1 {
  font-size: 1.5rem;
  margin-bottom: 9px;
}

.table-container td {
  padding: 5px 0;
}

.table-container td .pesan {
  height: 10rem;
}

.table-container .pesan-start {
  display: flex;
  align-items: flex-start;
}

.table-container td label {
  display: flex;
  justify-content: space-between;
}

.table-container td .laki_laki_input,
.table-container td .perempuan_input {
  display: inline;
  width: auto;
}

.table-container td input {
  width: 100%;
  border-radius: 5px;
  border-color: #fff;
  box-sizing: border-box;
}

.table-container label span {
  margin-right: 5px;
}

.table-container .submit {
  width: 100%;
  padding-top: 1rem;
}

.table-container .submit button {
  width: 100%;
}

.result-container {
  display: flex;
  flex: 55%;
  align-items: center;
  justify-content: center;
}

.result-content-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 15rem;
  background-color: var(--red-navbar);
  border: 2px solid #fff;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 500;
  margin: 0 2rem;
  color: #fff;
  justify-content: center;
}

/* Footer */
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: absolute;
  background-color: var(--red);
  bottom: 0;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.footer h1 {
  margin-right: 2rem;
}
